@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #cb212d;
  --primary-light: rgba(203, 33, 45, 0.33);
  --secondary: #00bf63;
  --secondary-light: rgba(0, 191, 99, 0.33);
  --light: #ede9e9;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light);
}